name: ECR Public Build & Push
on:
  push:
    tags:
      - '!main'
      
jobs:
  ecr_public:
    runs-on: ubuntu-latest
    name: ECR public action
    steps:
      - name: Get repo name
        id: repoName
        run: echo "::set-output name=reponame::$(echo ${{github.repository}} | cut -d '/' -f 2)"
      - name: Get short SHA
        id: sha
        run: echo "::set-output name=sha7::$(echo ${GITHUB_SHA} | cut -c1-7)"
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_ACESSS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Build and Push to ECR public
        id: build-and-push
        uses: pahud/ecr-public-action@8cd826db40befb59b0cd0b60b22a7ba72d06a7f7
        with:
          dockerfile: ./Dockerfile
          create_repo: ecr_repo_name
          tags: |
            public.ecr.aws/nexclipper/${{ steps.repoName.outputs.reponame }}:${GITHUB_REF}
            public.ecr.aws/nexclipper/${{ steps.repoName.outputs.reponame }}:${{ steps.sha.outputs.sha7 }}
